* {
<<<<<<< HEAD
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  body{
    background-color: #292929;
  }

 
  /* /Menu/ */

  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #333;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1B1B1B;
    color: #fff;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    position: fixed;
  }
  .navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
  }

  .navbar ul{
    display: flex;
  }
  .navbar a:hover{
    border-bottom: #FFA31A 2px solid;
  }

  #user,#add,#logo{
    height:30px;
    width:30px;
  }



/* /Navbar/ */

#bukma{
    border: #292929 1px solid;
}
#bukma #wstawka{
    margin-top: 8%;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#bukma #wstawka h1{
    color: #fff;
}
#bukma #wstawka h3{
    color: #FFA31A;
}

#form{
    display:flex;
    justify-content:center;
    width:100%;
  }

  #search_bar{
    background-color: white;
    border: 1px solid white;
    width:400px;
    padding: 10px;
    border-radius:7px;
    font-size:17px;
    margin:50px;
  }

  footer{
    width:100%;
    height: 80px;
    padding: 32.5px;
    color:white;
    text-align:center;
    background-color: #1B1B1B;
    text-transform: uppercase;
  }
  /* Main */


  #main{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
   }

   .movie{
    width:350px;
    margin: 30px;
    overflow: hidden;
    cursor: pointer;
   }

   .movie img{
    width: 100%;
  }
.movie:hover{
    box-shadow: #FFA31A 0px 5px 15px;
   
}

  .title{
    text-align: center;
    color: #fff;
  }
  h3{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
=======
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #292929;
}

/* Main */
 main{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
 }

 .movie{
  width:100px;
 }

/* /Menu/ */

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1B1B1B;
  color: #fff;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  position: fixed;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar ul{
  display: flex;
}
.navbar a:hover{
  border-bottom: #FFCD00 2px solid;
}

#user,#add,#logo{
  height:30px;
  width:30px;
}

/* /Navbar/ */

#form{
  padding:70px;
  display:flex;
  justify-content:center;
  width:100%;
}

#search_bar{
  background-color: white;
  border: 1px solid white;
  width:400px;
  padding: 10px;
  border-radius:7px;
  font-size:17px;
  margin:100px;
}

footer{
  width:100%;
  height: 80px;
  padding: 32.5px;
  color:white;
  text-align:center;
  background-color: #1B1B1B;
  text-transform: uppercase;
}
>>>>>>> 262ed726f8ea1ce9feb8d1cba7f0d0d98a49651c
